@charset "UTF-8";
body
{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: #BDBDBD
}
.container{

    max-width: 400px;
    width: 100%;
    background: #fff;
    padding: 25px 30px;
    border-radius: 5px;
}
.container .title {
    font-size: 40px;
    font-weight: 700;
    font-family: Verdana, Helvetica, fantasy;
    color: #585858;
    position: center;
}
.container .title::before {
        content: '';
        position: center;
        left: 0;
        bottom: 0;
        height: 3px;
        width: 30px;
        background: #ccc
}
.container form .user-detail {
        
    justify-content: center;
     margin: 20px 0 12px 0;
}
form .user-detail .input-box {

   margin-bottom: 15px;
    width: 90%;
}

form .user-detail .input-box .detail {
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}
form .user-detail .input-box input {
        height: 40px;
        width: 100%;
        outline: none;
        border-radius: 5px;
        border: 1px solid #ccc;
        padding-left: 15px;
        font-size: 16px;
        border-bottom-width: 2px;
        transition: all 0.3s ease;
    }
form .user-detail .gender-details {

   margin-bottom: 15px;
    width: calc(90% + 20px)
} 
form .user-detail .gender-details .category{
	display: block;
    	font-weight: 800;
    	margin-bottom: 5px;
}

form .user-detail .gender-details select {
        height: 43px;
        width: 100%;
        outline: none;
        border-radius: 5px;
        border: 1px solid #ccc;
        padding-left: 15px;
        font-size: 16px;
        border-bottom-width: 2px;
        transition: all 0.3s ease;
    }
form .user-detail .input-box input:focus,
form .user-detail .input-box input :focus:valid{
            border-color: #585858;  
}

.button button
{
    height:100%;
    width:100%;
    height: 50px;
    width:  390px;
    outline: none;
    color: #fff;
    border: none;
    font-size: 18px;
    font-weight: 500;
    border-radius: 5px;
    letter-spacing: 1px;
    background: #04B404;
}
.button button:active{
    box-shadow: 2px;
    background: #0B610B;
    color: white
}
.text-danger
{
  position: relative;
  margin: 0px 10px 14px 0;
  color: red;
  font-size: 13px;
  display: none;
}
.button input
{
    height:100%;
    width:100%;
    height: 50px;
    width:  390px;
    outline: none;
    color: #fff;
    border: none;
    font-size: 18px;
    font-weight: 500;
    border-radius: 5px;
    letter-spacing: 1px;
    background: #04B404;
}
.button input:active{
    box-shadow: 2px;
    background: #0B610B;
    color: white
}
.message {
    display: none;
    background: #f1f1f1;
    color: #000;
    position: relative;
    padding: 60px 60px;
    margin-top: 10px;
}

.message p {
    padding: 60px 60px;
    font-size: 18px;
}


.input-box .icons span{
  height: 25px;
  width: 25px;
  border: 2px solid;
  border-radius: 50%;
  line-height: 25px;
  display: none;
}

form .error-text{
  position: relative;
  margin: 2px 10px 14px 0;
  background: #e74c3c;
  color: #fceae8;
  font-size: 13px;
  padding: 8px;
  border-radius: 5px;
  user-select: none;
  display: none;
}
form .error-text:before{
  position: absolute;
  content: '';
  height: 15px;
  width: 15px;
  background: #e74c3c;
  right: 20px;
  top: -7px;
  transform: rotate(45deg);
}
