@charset "UTF-8";
body {
	font-size: 15px;
}

td,th {
	border: 1px solid black;
	height: 36px;
}

* {
  box-sizing: border-box;
}


.form {
	align-items: center;
	justify-content: center;
	width: 60%;
	margin-left: auto;
	margin-right: auto;
	text-align:right ;
}

.item {
	margin-bottom: 30px;
}

input {
	border: 1px solid #ccc;
	height: 36px;
	width: 70%;
	padding: 0 10px;
}

input[class=done] {
	height: 36px;
	width: 70%;
	padding: 0 10px;
	border:1px solid green;
	border-radius: 4px;
}

input[class=error] {
	height: 36px;
	width: 70%;
	padding: 0 10px;
	border: 2px solid red;
	border-radius: 4px;
}
.topnav {
  overflow: hidden;
  background-color: #333;
  
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}
.topnav [class=gray]{
	color:gray;
}
.topnav [class=yellow]{
	color:yellow;
}
.topnav a[class = home]{
	font-size:20px;
	
}
.topnav-right {
  float: right;
}
.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: black;
   color: gray;
   text-align: center;
}